.dashboard-container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;          
    grid-template-rows: repeat(4, auto);          
    grid-row-gap:0.5em;
    margin: 0 auto;
    position: fixed;
  height: 100vh;
  width: 100vw; 
  background-color: rgb(181, 174, 174);      
}

.Greeting{
    grid-column: 1 ;                           
    grid-row:  1; 
    padding-left: 30px;
}
.ViewTitle{
    grid-column: 2/span 3 ;                           
    grid-row:  1; 
    width: auto;
}
.ViewTitle>h1{
    font-size: 40px;
    width: auto;
    text-decoration-line: overline;
}
.course{
    grid-column: 1/4;                           
    grid-row:  2; 
    float: right;
    width: 100vw;
    height: 100vh;       

}
.createmodule{
    grid-column: 2/4;                           
    grid-row:  2; 
    float: right;
    width: 100vw;
    height: 100vh;   
}
.createmodule>fieldset{
    width: auto;
    height: 65vh;
    align-content: right;
    position: fixed;
}
.createmodule>fieldset>form>div>div>input{
    width: 30vw;
    height: 5vh; 
    align-items: left;
    margin:20px; 
}
.createmodule>fieldset>form>div>div>textarea{
    width: 30vw;
    height: 10vh; 
    align-items: left;
    margin:20px;  
}
.coursedropdown{
width: 30vw;
box-sizing: border-box;
margin-left: 20px;
margin-bottom: 10px;
}
.back{
    grid-column: 3;                           
    grid-row: 1 ; 
    width: auto;
    align-items: center;
}
.course>h2{
    padding-left: 30px;
}
.course>label{
    padding-left: 20px;
}
.courselist{
    width: 100vw; 
    height: 100vh;   
    text-align: center;
    float: left;
    padding-left: 10px;
    padding-top: 0.5px;
    margin-top: 0.5px;
}
.user-menu{
    grid-column: 4;                           
    grid-row:  1; 
    text-align: right;
}

.courselist>table{
    float: left ;
    padding: 5px;
    width: 80vw;
    height: fit-content;
}


