.registrationContainer{
    background-repeat: no-repeat;
    background-size: inherit;
    background-image: url("../LMSBanner_Main.jpg");
    height: 100vh;
    width: 100vw;
    position: fixed;
    }
.RegisterForm{
        float: right;
        padding-right: 400px;
        padding-top: 20px;
    }
fieldset{
    float: left;
    position: fixed;
    width:auto;
    height: auto;    
}
legend{
    font-size: 20px;
    }

.error-message{
    color: red;
    font-size: 15px;
    padding-left: 35px;
   }

.registrationContainer>input{
   margin-top: 2px;
}
   .password-criteria{
    color:yellowgreen;
    font-size: 15px;
    padding-left: 35px;
   }
.signIn-menu{
    text-align: left;
    padding-top: 10px;
    padding-left: 100px;
    }


